    html{
        font-family: liberation-sans;
    }
    h1
    {
        font-size: 1.5em;
        margin-bottom: 0;
    }
    h2
    {
        font-size:1.1em;
        text-decoration:underline;
    }
    h3{
        font-size:.98em;
    }
    
    h4{
        font-style: italic;
    }
  
    header li, h1{
        text-align: center;
       
    }
   
    p,
    ul,
    h2,
    h3,
    h4
    {
        margin-top: 0;
        margin-bottom: 0;
    }
    section{
        margin-top: 1em;
    }
    
    .red{
        color: red;
    }
    
    .major{
        font-style:italic;
    }
    
    li{
        margin-bottom: 0.1em;
    }
    
    body{
        width: 80%;
        margin: 4em auto;
    }
    
    .unbold{
        font-weight: normal;
    }


@media screen and (min-width: 501px) {
    
    header p {
        text-align: center;
        width: 100%;
    }
    
    .big-date {
        float: right;
    }
    
    .small-date, .small-header {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    
    .big-only, .big-date, .big-header {
        display: none;
    }
    
    header ul{
        list-style-type: none;
        margin: 0 auto;
        -webkit-padding-start: 0;
        width:100%;
        margin-bottom: 2em;
        
    }
}



©nickrichu